@using UniCabinet.Domain.DTO
@model UserDTO

<div class="modal fade" id="roleModal_@Model.Id" tabindex="-1" aria-labelledby="roleModalLabel_@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleModalLabel_@Model.Id">Изменить роли для @Model.FirstName @Model.LastName @Model.Patronymic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="UpdateUserRoles" onsubmit="showLoadingIndicator()">
                <div class="modal-body">
                    @foreach (var role in (IEnumerable<SelectListItem>)ViewBag.Roles)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="selectedRoles" value="@role.Value"
                            @(Model.Roles.Contains(role.Value) ? "checked" : "") />
                            <label class="form-check-label" for="role_@role.Value">
                                @role.Text
                            </label>
                        </div>
                    }
                    <input type="hidden" name="userId" value="@Model.Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>
