@model UniCabinet.Web.ViewModel.StudentGroupViewModel

<div class="table-responsive">
    <table class="table table-bordered table-hover" >
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Полное Имя</th>
                <th scope="col">Роли</th>
                <th scope="col">Текущая Группа</th>
                <th scope="col">Изменить Группу</th>
                <th scope="col">Изменить Роль</th>
                <th scope="col">Информация</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
            @foreach (var user in Model.Users)
            {
                <tr data-user-id="@user.Id" class="user-row">
                    <td>@user.Email</td>
                    <td>@user.FirstName @user.LastName @user.Patronymic</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td>@user.GroupName</td>
                    <td>
                        @if (user.Roles.Contains("Student") && user.Roles.Contains("Verified"))
                        {
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#groupModal_@user.Id">
                                Изменить группу
                            </button>
                            <partial name="_GroupModal" model="user" />
                        }
                        else
                        {
                            <span class="text-muted">Изменение группы недоступно</span>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#roleModal_@user.Id">
                            Изменить роль
                        </button>
                        <partial name="_RoleModal" model="user" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#userDetailModal_@user.Id">
                            Подробнее
                        </button>
                            <partial name="_UserDetailModal" model="user" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_Pagination", Model.Pagination)
