@model IEnumerable<UniCabinet.Domain.DTO.UserDTO>

<h2>Список верифицированных пользователей</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Полное Имя</th>
            <th>Роли</th>
            <th>Группы</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>@string.Join(", ", user.Roles)</td>
            </tr>
            <tr>
                    @if (user.Roles.Contains("Student"))
                    {
                        <select class="form-control">
                            @foreach (var group in ViewBag.Groups)
                            {
                                <option value="@group">@group.Name</option>
                            }
                        </select>
                    }
            </tr>
        }
    </tbody>
</table>
