@model UniCabinet.Core.Models.ViewModel.DisciplineDetail.DisciplineDetailsModalVM

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Курс</th>
            <th>Группа</th>
            <th>Семестр</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody id="detailsTableBody">
        @foreach (var detail in Model.Details)
        {
            <tr>
                <td>@detail.CourseName</td>
                <td>@detail.GroupName</td>
                <td>@detail.SemesterName</td>
                <td>
                    <button class="btn btn-info"
                            onclick="openModal('@Url.Action("DetailInfo", "DisciplineDetails", new { detailId = detail.Id })', 'detailInfoModal')">
                        Подробнее
                    </button>
                    @if (Model.IsTeacherView)
                    {
                        <button class="btn btn-info"
                            onclick="openModal('@Url.Action("EditDisciplineDetailModal", "DisciplineDetails", new { detailId = detail.Id })', 'editDisciplineDetailModal')">
                            Редактировать
                        </button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
