@model IEnumerable<UniCabinet.Web.ViewModel.GroupViewModel>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupModal">
    Добавить группу
</button>

<partial name="_GroupAddModal" model="new UniCabinet.Web.ViewModel.GroupCreateEditViewModel()" />

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Тип группы</th>
            <th>Курс</th>
            <th>Семестр</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>

                <td>@item.TypeGroup</td>

                <td>@item.CourseNumber</td>

                <td>@item.SemesterNumber</td>

                <td>
                    <a href="@Url.Action("GroupEditModal", "Group", new { id = @item.Id })" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editGroupModal">
                        Редактировать
                    </a>
                </td>
            </tr>
            <partial name="_GroupEditModal" model="item" />
        }
    </tbody>
</table>

<div id="modal-container"></div>


